<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.DCShop.mypage.dao.MypageDAO">
 	
	<!-- OrderList 가져오기 : 주문 리스트 -->
	<select id="getOrderList" resultMap="orderMap">
		<![CDATA[
        SELECT *
        FROM (
            SELECT 
                o.o_num,
                MAX(o.o_delivery_state) AS o_delivery_state,
                MAX(o.o_status) AS o_status,
                SUM(o.o_price * o.o_count)
                + CASE 
         			WHEN SUM(o.o_price * o.o_count) > 100000 THEN 0 
         			ELSE MAX(pd.pd_shipping_fee) 
       			  END AS o_price,
                COUNT(o.pd_id) AS product_count,          
                MIN(o.pd_id) AS pd_id               
            FROM order_tbl o, product_tbl pd
            WHERE o.u_member_id = #{u_member_id}
              AND o.pd_id = pd.pd_id
            GROUP BY o.o_num
            ORDER BY MAX(o.o_date) DESC, o.o_num DESC
        ) 
        WHERE ROWNUM <= 5
    	]]>
	</select>
	
	<resultMap id="orderMap" type="com.spring.DCShop.mypage.dto.OrderDTO">
	  <id     property="o_Num"     	        column="o_num"/>
	  <result property="pd_Id"      	    column="pd_id"/>
	  <result property="u_Member_Id"	    column="u_member_id"/>
	  <result property="o_name"	    		column="o_name"/>
	  <result property="o_phone"	    	column="o_phone"/>
	  <result property="o_date"	    		column="o_date"/>
	  <result property="o_date_detail"	    column="o_date"/>
	  <result property="o_price"	    	column="o_price"/>
	  <result property="o_Delivery_State"   column="o_delivery_state"/>
	  <result property="o_Delivery_Date" 	column="o_delivery_date"/>
	  <result property="o_Count" 	        column="o_count"/>
	  <result property="o_Payment" 	        column="o_payment"/>
	  <result property="o_Address" 	        column="o_address"/>
	  <result property="o_Zip_Code" 	    column="o_zip_code"/>
	  <result property="o_Request" 	        column="o_request"/>
	  <result property="o_Status" 	        column="o_status"/>
	  <result property="o_payment_key" 	    column="o_payment_key"/>
	  <result property="productCount"       column="product_count"/>
	  <collection property="productDto"     column="pd_id"     select="getProductList"/>
	</resultMap>
	
	 <select id="getProductList" resultType="com.spring.DCShop.mypage.dto.ProductDTO">
		SELECT pd_id pdId
		     , pd_name pdName
		     , pd_price pdPrice
		     , pd_brand pdBrand
		     , pd_image_url pdImageUrl
		     , pd_shipping_fee pdShippingFee
		     , pd_status pdStatus
		  FROM product_tbl
		 WHERE pd_id = #{pd_id}
	</select>
	
	
	<!-- 나의 정보 : CartList 가져오기 : 주문 리스트 -->
 	<select id="getMyCartList" resultMap="cartMap">
	    <![CDATA[
			SELECT *
			FROM (
			  SELECT t.*,
			         ROW_NUMBER() OVER (ORDER BY ct_add_date DESC, ct_num DESC) AS rn
			  FROM   cart_tbl t
			  WHERE  u_member_id = #{u_member_id}
			)
		]]>
	</select>
	
	<!-- CartList 가져오기 : 주문 리스트 -->
 	<select id="getCartList" resultMap="cartMap">
	    <![CDATA[
			SELECT *
			FROM (
			  SELECT t.*,
			         ROW_NUMBER() OVER (ORDER BY ct_add_date DESC, ct_num DESC) AS rn
			  FROM   cart_tbl t
			  WHERE  u_member_id = #{u_member_id}
			)
			WHERE rn <= 5
		]]>
	</select>
	
	<resultMap id="cartMap" type="com.spring.DCShop.mypage.dto.CartDTO">
	  <id     property="ctNum"     	        column="ct_num"/>
	  <result property="pdId"      	    	column="pd_id"/>
	  <result property="uMemberId"	    	column="u_member_id"/>
	  <result property="ctQuantity"   		column="ct_quantity"/>
	  <result property="ctAddDate" 			column="ct_add_date"/>
	  <collection property="productDto"     column="pd_id"     select="getProduct"/>
	</resultMap>
 
 	<select id="getProduct" resultType="com.spring.DCShop.mypage.dto.ProductDTO">
		SELECT pd_id pdId
		     , pd_name pdName
		     , pd_description pdDescription
		     , pd_price pdPrice
		     , pd_stock pdStock
		     , pd_category category
		     , pd_created pdCreated
		     , pd_updated pdUpdate
		     , pd_brand pdBrand
		     , pd_image_url pdImageUrl
		     , pd_shipping_fee pdShippingFee
		     , pd_discount_Rate pdDiscountRate
		     , pd_status pdStatus
		     , pd_option pdOption
		  FROM product_tbl
		 WHERE pd_id = #{pd_id}
	</select>
	
	<select id="myQnaCnt" parameterType="java.util.Map" resultType="int">
	  	SELECT count(*)
		  FROM
			(SELECT A.*
				  , rownum AS rn
			   FROM (SELECT q.*
			   		   FROM product_tbl p
			   		      , qna_tbl q
			   		      , user_tbl u
					  WHERE p.pd_id = q.pd_id
					  	AND u.u_member_id = q.u_member_id
				  	<if test="q_category != null and q_category != ''">
				  		AND q.q_category = #{q_category}
				  	</if>
				  	<if test="from != null and from != ''">
				  	<![CDATA[
			  			AND q.q_regDate >= #{from}
		  			]]>
    				</if>
    				<if test="to != null and to != ''">
    				<![CDATA[
    					AND q.q_regDate <= #{to}
   					]]>
    				</if>
    				<if test="q_answer != null and q_answer != ''">
    					AND q.q_answer = #{q_answer}
    				</if>
    				<if test="sessionId != null and sessionId != ''">
    					AND q.u_member_id = #{sessionId}
    				</if>
    				) A
			)
	  </select>
	  
	  <select id="myQnaList" parameterType="java.util.Map" resultType="com.spring.DCShop.shop.dto.QuestDTO">
	  	SELECT *
		  FROM
			(SELECT A.*, rownum AS rn
			   FROM (SELECT q.*,
			   				u.u_id
			   		   FROM product_tbl p
			   		      , qna_tbl q
			   		      , user_tbl u
					  WHERE p.pd_id = q.pd_id
					  	AND u.u_member_id = q.u_member_id
					  	<if test="q_category != null and q_category != ''">
					  		AND q.q_category = #{q_category}
					  	</if>
					  	<if test="from != null and from != ''">
					  	<![CDATA[
				  			AND q.q_regDate >= #{from}
			  			]]>
	    				</if>
	    				<if test="to != null and to != ''">
	    				<![CDATA[
	    					AND q.q_regDate <= #{to}
    					]]>
	    				</if>
	    				<if test="q_answer != null and q_answer != ''">
	    					AND q.q_answer = #{q_answer}
	    				</if>
	    				<if test="sessionId != null and sessionId != ''">
	    					AND q.u_member_id = #{sessionId}
	    				</if>
				   ORDER BY q.q_regdate DESC) A 
			)
		WHERE rn BETWEEN #{start} AND #{end}
		ORDER BY rn ASC
	  </select>
	
	<select id="pwdcheck" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
	    FROM user_tbl
	    WHERE u_id = #{u_id}
	      AND u_password = #{u_password, jdbcType=VARCHAR}
	      AND u_show = 'Y'
	</select>
	<select id="getUserInfo" parameterType="String" resultType="com.spring.DCShop.mypage.dto.MypageDTO">
		SELECT * 
		  FROM user_tbl
		 WHERE u_id=#{loginId}
	</select>
	
	<!-- update INfo -->
	<update id="setUserInfo" parameterType="java.util.Map">
		UPDATE user_tbl
		   SET u_password=#{u_password},
		   	   u_email = #{u_email},
		   	   u_nickname = #{u_nickname},
		   	   u_birthday = #{u_birthday},
		   	   u_address = #{u_address},
		   	   u_phone = #{u_phone}
		 WHERE u_id = #{u_id}
	</update>
	
	<!-- update Profile -->
	<update id="profileupdate" parameterType="java.util.Map" >
		UPDATE user_tbl
		  SET u_image = #{u_image}
		WHERE u_id = #{u_id}
	</update>
	
	
	<!-- pet정보 가져오기 -->
	<select id="getPetList" parameterType="int" resultType="com.spring.DCShop.mypage.dto.MyPetDTO">
		SELECT 	p_num, u_member_id, p_name, p_gender, p_type,
     			p_weight, p_size, p_birth, p_kind, p_neutered
		  FROM pet_tbl 
		 WHERE u_member_id = #{_parameter}
		 ORDER BY TO_NUMBER(p_num)
	</select>
	
	<!-- pet 추가 등록 -->
	<insert id="petInfoInsert" parameterType="com.spring.DCShop.mypage.dto.MyPetDTO">
	  INSERT INTO pet_tbl
	      (u_member_id, p_name, p_gender, p_type, p_weight, p_size, p_birth, p_kind, p_neutered)
	  VALUES
	      (#{u_member_id, jdbcType=NUMERIC},
	       #{p_name, jdbcType=VARCHAR},
	       #{p_gender, jdbcType=VARCHAR},
	       #{p_type, jdbcType=VARCHAR},
	       #{p_weight, jdbcType=NUMERIC},
	       #{p_size, jdbcType=VARCHAR},
	       #{p_birth, jdbcType=DATE},
	       #{p_kind, jdbcType=VARCHAR},
	       #{p_neutered, jdbcType=VARCHAR})
	</insert>
	
	<!-- 펫 정보 업데이트 -->
	<update id="petInfoUpdate" parameterType="com.spring.DCShop.mypage.dto.MyPetDTO">
		UPDATE pet_tbl
	       SET p_name     = #{p_name},
	           p_gender   = #{p_gender},
	           p_type     = #{p_type},
	           p_weight   = #{p_weight},
	           p_size     = #{p_size},
	           p_birth    = #{p_birth},
	           p_kind     = #{p_kind},
	           p_neutered = #{p_neutered}
	     WHERE p_num = #{p_num}
	       AND u_member_id = #{u_member_id}
	</update>
	
	<delete id="petInfoDelete" parameterType="java.util.Map" >
		DELETE FROM pet_tbl
		 WHERE p_num = #{p_num}
		   AND u_member_id = #{u_member_id}
	</delete>
	
	<!-- 회원탈퇴 -->
	<update id="userInfoDelete" parameterType="java.util.Map">
		UPDATE user_tbl
		   SET u_show = 'N',
		   	   u_regdate = sysdate
		 WHERE u_member_id = #{u_member_id}
		   AND u_password = #{u_password}
	</update>
	
	<!-- 회원 관련 펫정보 가져오기 -->
	<select id="userOfPets" parameterType="int" resultType="com.spring.DCShop.mypage.dto.MyPetDTO">
		SELECT 	p_num, u_member_id, p_name, p_gender, p_type,
     			p_weight, p_size, p_birth, p_kind, p_neutered
		  FROM pet_tbl 
		 WHERE u_member_id = #{u_member_id}
	</select>
	
 	<select id="productInfo" parameterType="java.util.Map" resultType="com.spring.DCShop.mypage.dto.ProductDTO">
		SELECT pd_id pdId
		     , pd_name pdName
		     , pd_description pdDescription
		     , pd_price pdPrice
		     , pd_stock pdStock
		     , pd_category category
		     , pd_created pdCreated
		     , pd_updated pdUpdate
		     , pd_brand pdBrand
		     , pd_image_url pdImageUrl
		     , pd_shipping_fee pdShippingFee
		     , pd_discount_Rate pdDiscountRate
		     , pd_status pdStatus
		     , pd_option pdOption
		     , pd_subcategory pdSubcategory
		     , pd_pet_category pdPetCategory
		  FROM product_tbl
		  <where>
	        <!-- cat 또는 dog 값이 0이 아닐 때만 조건 추가 -->
	        <if test="cat != 0 or dog != 0">
	            (
	            <if test="cat != 0">
	                pd_pet_category = #{cat}
	            </if>
	            <if test="dog != 0">
	                <if test="cat != 0"> OR </if>
	                pd_pet_category = #{dog}
	            </if>
	            )
	        </if>
	        <!-- cat=0, dog=0 이면 WHERE 절 자체가 비워짐 → 전체 데이터 -->
		  </where>
	</select>

	<!-- 주문내역 페이지 리스트 가져오기 -->
	<select id="orderListById" parameterType="java.util.Map" resultType="com.spring.DCShop.mypage.dto.OrderDTO">
		SELECT * 
		  FROM (SELECT O.*
		  			 , rownum AS rn
		  		  FROM (SELECT 
						    o_num ,
						    o_date,
						    u_member_id,
						    o_payment,
						    SUM(o_price * o_count) 
						    + CASE 
                    			WHEN SUM(o_price * o_count) > 100000 THEN 0 
                    			ELSE MAX(pd_shipping_fee) 
                  			  END AS o_price,
						    o_status,
						    o_delivery_state
						FROM order_tbl o, product_tbl pd
						WHERE u_member_id = #{u_member_id}
						  AND o.pd_id = pd.pd_id
						  <if test="start_date != null and end_date != null">
						  <![CDATA[
						  	AND o.o_date >= #{start_date, jdbcType=DATE}
    						AND o.o_date < #{end_date, jdbcType=DATE} + 1
    						]]>
						  </if>
						  <if test="status != null and status != ''">
						  	AND
						  		<choose>
						  			<when test="status == '주문완료'">
						  				o.o_status = '주문완료'
						  			</when>
						  			<when test="status == '배송준비'">
						  				o.o_delivery_state = '배송준비'
						  			</when>
						  			<when test="status == '배송중'">
						  				o.o_delivery_state = '배송중'
						  			</when>
						  			<when test="status == '배송완료'">
						  				o.o_delivery_state = '배송완료'
						  			</when>
						  			<when test="status == '주문취소'">
						  				o.o_status = '주문취소'
						  			</when>
						  			<otherwise>
						  				(o.o_status IN ('주문완료', '주문취소')
						  				OR
						  				o.o_delivery_state IN ('배송준비', '배송중', '배송완료'))
						  			</otherwise>
						  		</choose>
						  </if>
						GROUP BY o_num, u_member_id, o_date, o_status, o_payment, o_delivery_state
						ORDER BY o_date desc
						) O
				)
		  WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 주문리스트 총 개수 -->
	<select id="orderListTotal" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
		  FROM (SELECT o_num
		  		  FROM order_tbl
		  		 WHERE u_member_id = #{u_member_id}
		  		 <if test="start_date != null and end_date != null">
		  		  <![CDATA[
				  	AND o_date >= #{start_date, jdbcType=DATE}
					AND o_date < #{end_date, jdbcType=DATE} + 1
					]]>
				  </if>
				  <if test="status != null and status != ''">
				  	AND
				  		<choose>
				  			<when test="status == '주문완료'">
				  				o_status = '주문완료'
				  			</when>
				  			<when test="status == '배송준비'">
				  				o_delivery_state = '배송준비'
				  			</when>
				  			<when test="status == '배송중'">
				  				o_delivery_state = '배송중'
				  			</when>
				  			<when test="status == '배송완료'">
				  				o_delivery_state = '배송완료'
				  			</when>
				  			<when test="status == '주문취소'">
				  				o_status = '주문취소'
				  			</when>
				  			<otherwise>
				  				(o_status IN ('주문완료', '주문취소')
				  				OR
				  				o_delivery_state IN ('배송준비', '배송중', '배송완료'))
				  			</otherwise>
				  		</choose>
				  </if>
		  		 GROUP BY o_num)
	</select>
	
	<select id="orderDetailAction" parameterType="java.lang.Long" resultMap="orderMap">
		SELECT *
		  FROM order_tbl o, product_tbl pd
		 WHERE o_num = #{o_num}
		   AND o.pd_id = pd.pd_id
	</select>

 </mapper>